.modal-success {
    position: absolute;
    background-color: #3ca933;
    height: 330px;
    width: 100%;
    top: 56px;
    z-index: 1010;

    .info_accept {
        display: flex;

        align-items: center;
        position: relative;
        color: $white;
        //margin: 0 20px;
        padding-top: 20px;


        .accept_check {
            width: 20px;
            height: 14px;
            object-fit: contain;
            margin-left: 20px;
        }

        .modal-name {
            font-size: 16px;
            margin-left: 15px;
        }

        .close {
            width: 27px;
            height: 27px;
            border: solid 1px rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            position: absolute;
            right: 30px;

            .close_cross {
                width: 13px;
                height: 13px;
                object-fit: contain;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .modal-elements {
        display: flex;
        flex-direction: column;


        color: $white;

        .modal-elem {
            margin-top: 20px;
            margin-left: 55px;

            .title {
                font-size: 11px;
                letter-spacing: 1.1px;
                text-transform: uppercase;
                margin: 5px 0;
            }

            .name {
                font-size: 16px;
                font-weight: 900;
                letter-spacing: 1px;
                width: 218px;
                margin: 5px 0;
            }

            .number {
                font-size: 11px;
                letter-spacing: 1.1px;
                text-transform: uppercase;
            }
        }
    }

    .modal-btn {
        margin-top: 20px;
        text-transform: uppercase;
        margin-left: 55px;
        font-size: 12px;
        letter-spacing: 1.1px;
        padding-right: 21px;
        padding-left: 23px;
        height: 30px;
        line-height: 12px;
        color: $white;
        border-radius: 4px;
        border-color: transparent;
        background-color: rgba(47, 50, 52, 0.3);
    }
}