@import 'core';
@import 'header';
@import 'nav';
@import 'main';
@import 'modal';
@import 'footer';

* {

    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
    position: relative;
    height: 100%;
}